@import '../../scss/theme';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  width: 100%;
  background-color: $primary;
  line-height: 60px;
  color: $white;
  border-radius: 8px;
  font-size: 16px;
  border: none;

  &:hover {
    opacity: 0.9;
  }
  &:disabled {
    background-color: $primaryLight;
    opacity: 0.9;
    cursor: not-allowed;
  }
}
